@{
    ViewBag.Title = "Home Page";
}

	<section>
		<p>
			<h2>While there is little national data on siblings in foster care, estimates indicate that well over half of children in foster care nationwide have one or more siblings also in care. Some sources state that as many as 75 percent of these foster children are placed apart from one or more of their siblings.</h2>
		</p>
		


	</section>

